header {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;
}
a {
  text-decoration: none;
  list-style: none;
}
.cart {
  position: relative;
}
.cart-badge {
  background-color: rgb(253, 253, 254);
  color: rgb(8, 8, 8);
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 8px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  /* box-shadow: 0 2px 10px rgba(247, 246, 246, 0.3); */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  margin: 0 15px;
  border: none;
}

.main-nav ul li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.main-nav ul li a:hover {
  color: #ddd;
}

/* .search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 8px 15px;
    border: 1px solid #ffffff;
    background-color: #dfdcdc;
    color: #fff;
    border-radius: 20px;
    outline: none;
    width: 180px;
    font-size: 14px;
}

.search-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-left: -30px;
} */

.header-icons {
  display: flex;
}

.icon-link {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
}
