<%-include("../../views/partials/user/header") %>

<main class="error-container">
  <h1 class="error-title">404 Not Found</h1>
  <p class="error-message">Your visited page not found. You may go home page.</p>
  <a href="/" class="back-button">Back to home page</a>
</main>


<%-include("../../views/partials/user/footer") %>